<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792369440798-m0pg36svbh9tmj9vt98g1ri541g57hh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792369440798-m0pg36svbh9tmj9vt98g1ri541g57hh9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbu9rGosgkvEKos8paWZOJEt-f8S1CK4o</string>
	<key>GCM_SENDER_ID</key>
	<string>792369440798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azcarwash.app</string>
	<key>PROJECT_ID</key>
	<string>az-carwash</string>
	<key>STORAGE_BUCKET</key>
	<string>az-carwash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792369440798:ios:55de5741ba1126c15d260f</string>
	<key>DATABASE_URL</key>
	<string>https://az-carwash.firebaseio.com</string>
</dict>
</plist>