<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" defaultHref="signIn"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container">
        <p>It will take less then a miniutes.</p>

        <p>Let us know your registered email address & we will guide you to reset your password.</p>

        <ion-item>
            <ion-label position="stacked">Enter your registered email address</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-button (click)="forgotPassword()" [disabled]="!email" class="btn-style" shape="round">SIGN UP</ion-button>

    </div>
</ion-content>