ion-header {
    ion-toolbar {
        ion-back-button {
            --padding-end: 0;
            --padding-start: 0;
            margin-left: 7px;
            color: var( --ion-color-theme);
            min-width: 31px !important;
        }
        ion-title {
            padding-left: 7px;
            font-size: 20px;
            font-family: 'tofini_medium';
        }
    }
}

ion-content {
    .container {
        padding: 26px;
        ion-input,
        ion-item {
            margin: 26px 0px 5px;
            --padding-start: 0px;
            ion-label {
                font-size: 19px;
                color: #898891;
                font-family: "tofini_medium";
            }
            ion-input {
                --padding-start: 0px;
                margin: 10px 0px 0px 0px;
                font-size: 15px;
                font-family: 'tofini_regular';
            }
        }
        .btn-style {
            margin-top: 29px !important;
        }
        p {
            font-size: 15px;
            font-family: 'tofini_medium';
        }
    }
}