<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="ios-arrow-back" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="imageContainer">
        <img class="imgStyle" [src]="imgUrl">
        <ion-button (click)="presentActionSheet()" fill="clear" class="clearBtn">
            <ion-icon name="md-camera"></ion-icon>
        </ion-button>
    </div>

    <div class="container">
        <form [formGroup]="myForm">
            <ion-item>
                <ion-label position="stacked">User Name</ion-label>
                <ion-input formControlName="username"></ion-input>
            </ion-item>
            <p class="err" *ngIf="myForm.controls.username.hasError('required') && myForm.controls.username.touched">
                Username is required!
            </p>

            <ion-item>
                <ion-label position="stacked">Email address</ion-label>
                <ion-input disabled="true" formControlName="email"></ion-input>
            </ion-item>
            <p class="err" *ngIf="myForm.controls.email.hasError('required') && myForm.controls.email.touched">
                Email is required!
            </p>
            <p class="err" *ngIf="myForm.controls.email.hasError('email') && myForm.controls.email.touched && !myForm.controls.email.hasError('required')" color="danger">
                Email is invalid!
            </p>

            <ion-item>
                <ion-label position="stacked">Number</ion-label>
                <ion-input formControlName="number"></ion-input>
            </ion-item>
            <p class="err" *ngIf="myForm.controls.number.hasError('required') && myForm.controls.number.touched">
                Number is required!
            </p>

            <ion-button (click)="onUpdate()" [disabled]="!myForm.valid" class="btn-style" shape="round">UPDATE</ion-button>
        </form>
    </div>

</ion-content>