<ion-content>
    <img src="assets/imgs/success-image.PNG" alt="">
    <h2 class="ion-text-center">Booking Confirmed
        <ion-icon name="ios-checkmark-circle"></ion-icon>
    </h2>
    <p class="ion-text-center">Hey {{user?.username}}, Make sure you car is parked correctly in your Parking Lot for our detailer to complete the job perfectly.
    </p>
    <p class="ion-text-center">Your booking for auto detailing services has been confirmed.</p>
    <p class="ion-text-center">Have a great date.</p>
</ion-content>
<ion-footer>
    <ion-button (click)="goToBookings()" expand="full" class="ion-no-margin ion-text-capitalize">My Bookings</ion-button>
</ion-footer>